<ion-header>
  <ion-toolbar>
    <ion-title>Tenants</ion-title>

    <ion-button slot="end">
      <ion-icon slot="start" name="heart"></ion-icon>
      + Add
    </ion-button>

  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>hi</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>h@mail.com</p>
      <p>9802398039485</p>

      <ion-button fill="clear" size="small">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
<!--
  MODAL -->
  <!-- <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">

    <ng-template>
      <app-tenant-form
        [tenant]="selectedTenant"
        (close)="closeModal()"
        (save)="saveTenant($event)">
      </app-tenant-form>
    </ng-template>

  </ion-modal>

</ion-content> -->
