<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-back-button></app-back-button>
    </ion-buttons>
    <ion-title>My Properties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="py-1">
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col class="text-center equal-card">
        <div class="icon-wrapper">
          <i class="bi bi-house-add-fill"></i>
        </div>
        <p class="icon-label">Add Property</p>
      </ion-col>

      <ion-col class="text-center equal-card">
        <div class="icon-wrapper">
          <i class="bi bi-house-dash-fill"></i>
        </div>
        <p class="icon-label">Delete Property</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


