<ion-content>
  <div class="d-flex flex-row flex-wrap gap-3 p-3">
  <app-icon-card class="home-icon-card flex-fill"
    icon="assets/icon/my-space.svg"
    label="My Properties"
    route="/my-properties"
    param="123">
  </app-icon-card>

  <app-icon-card class="home-icon-card flex-fill"
    icon="assets/icon/people.svg"
    label="Tenants"
    route="/my-space"
    param="123">
  </app-icon-card>

  <app-icon-card class="home-icon-card flex-fill"
    icon="assets/icon/my-space.svg"
    label="Upcoming"
    route="/my-space"
    param="123">
  </app-icon-card>
</div>

  
</ion-content>

<!-- <h1 class="text-danger">hii</h1> -->
